body {
    font-family: Tahoma;
    font-size: 16px;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;
    padding: 2rem 0;
}

fieldset:last-of-type {
    border: none;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 25px;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }

legend {
    padding-top: 2em;
}

.inline {
    display: inline;
    width: unset;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

input[type="submit"] {
    width: 60%;
    display: block;
    margin: 5px auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}

a:hover {
    color: white;
}

a:visited {
    color: #0a0a23;
}

a:active{
    color: #3b3b4f;
}
